Source: rcf
Priority: optional
Maintainer: Matt Sickler <matt.sickler@daktronics.com>
Build-Depends: debhelper (>= 9), libboost1.55-dev
Standards-Version: 3.9.5
Section: libs
Homepage: http://www.deltavsoft.com/

Package: librcf2-dev
Section: libdevel
Architecture: any
Depends: librcf2 (= ${binary:Version}), ${misc:Depends}
Description: IPC/RPC framework tailored for C++ applications (development files)
 Remote Call Framework (RCF) is an IPC/RPC framework tailored for C++
 applications

Package: librcf2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: IPC/RPC framework tailored for C++ applications
 Remote Call Framework (RCF) is an IPC/RPC framework tailored for C++
 applications
