#!/usr/bin/make -f
#DH_VERBOSE = 1
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk


# main packaging script based on dh7 syntax
%:
	dh $@

#RCF_CONFIG_FLAGS += RCF_USE_OPENSSL
#RCF_CONFIG_FLAGS += RCF_OPENSSL_STATIC
#RCF_CONFIG_FLAGS += RCF_USE_ZLIB
#RCF_CONFIG_FLAGS += RCF_ZLIB_STATIC
#RCF_CONFIG_FLAGS += RCF_USE_SF_SERIALIZATION
#RCF_CONFIG_FLAGS += RCF_USE_BOOST_SERIALIZATION
#RCF_CONFIG_FLAGS += RCF_USE_BOOST_FILESYSTEM
#RCF_CONFIG_FLAGS += RCF_USE_PROTOBUF
#RCF_CONFIG_FLAGS += RCF_USE_JSON
RCF_CONFIG_FLAGS += RCF_USE_IPV6
#RCF_CONFIG_FLAGS += RCF_USE_CUSTOM_ALLOCATOR
RCF_CONFIG_FLAGS += RCF_BUILD_DLL
#RCF_CONFIG_FLAGS += RCF_AUTO_INIT_DEINIT

override_dh_auto_build:
	$(CXX) $(CPPFLAGS) $(CXXFLAGS) $(RCF_CONFIG_FLAGS:%=-D%) -std=c++11 -g -fPIC -DPIC -Iinclude/ -c src/RCF/RCF.cpp -o src/RCF/RCF.o
	$(CXX) $(LDFLAGS) -shared -Wl,-soname,librcf2.so.2 src/RCF/RCF.o -lpthread -ldl -o librcf2.so.2.0.1
	ln -f -s librcf2.so.2.0.1  librcf2.so.2
	ln -f -s librcf2.so.2  librcf2.so
